<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.system.model.Course">
        <result column="courseid" jdbcType="INTEGER" property="cid"/>
        <result column="coursename" jdbcType="VARCHAR" property="cname"/>
        <result column="schooltime" jdbcType="DATE" property="schoolTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="week" jdbcType="INTEGER" property="week"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="score" jdbcType="DOUBLE" property="score"/>
        <association property="teacher" javaType="com.system.model.Teacher" autoMapping="true">
        </association>
        <association property="college" javaType="com.system.model.College" autoMapping="true">
        </association>
    </resultMap>

    <resultMap id="DynamicQueryFind" type="course" autoMapping="true">
        <result column="cid" jdbcType="INTEGER" property="cid"/>
        <association property="teacher" javaType="com.system.model.Teacher" autoMapping="true"/>
        <association property="college" javaType="com.system.model.College" autoMapping="true"/>
    </resultMap>
<!--模糊查询带分页的查询所有课程-->
    <select id="selectAll" resultMap="BaseResultMap">

        select c.cid as courseid ,c.cname as coursename,c.tid as tid,
        c.schooltime ,c.address ,c.week ,
        c.type,c.score,ce.collegeid,ce.cname from course c LEFT JOIN teacher
        t on c.tid=t.tid LEFT JOIN college ce on c.collegeid = ce.collegeid
    <where>
        <if test="key!=null and key!=''">
          c.cname like '%${key}%'
        </if>
    </where>
</select>


<!--查询学生已选课程-->
<select id="selectCourseBySid" resultMap="BaseResultMap">

    select c.cid as courseid ,c.cname as coursename,c.tid as tid,
        c.schooltime ,c.address ,c.week,
        c.type,c.score from course c LEFT JOIN teacher
        t on c.tid=t.tid LEFT JOIN course_stu cs on c.cid = cs.cid
         where cs.sid =#{sid,jdbcType=INTEGER}

</select>

<!--添加一个课程-->
<insert id="addCourse" parameterType="Course">
    insert into course(cname,schooltime,address,week,type,score,tid,collegeid)
     values(#{cname},#{schoolTime},#{address},#{week},#{type},#{score},#{teacher.tid},#{college.collegeId})
</insert>

<!--删除一个课程-->
<delete id="deleteCourse" >
    delete from course where cid = #{cid}
</delete>

<!--修改一个课程-->
<update id="updateCourse" parameterType="course" >
    update course set
        cname = #{cname},schooltime = #{schoolTime},
        address = #{address},week = #{week},type = #{type},
        score = #{score},tid = #{teacher.tid},collegeid = #{college.collegeId}
         where cid = #{cid};
</update>

<select id="findAllByName" resultMap="DynamicQueryFind">
    select c.cid,c.cname,c.schooltime,c.address,c.week,c.type,c.score,IFNULL(t.tid, -1) tid,IFNULL(t.name, "未知") name,ce.collegeid
    from course c left join teacher t
    on c.tid = t.tid left join college ce on c.collegeid = ce.collegeid
    <where>
    <if test="name != null and name != ''">
        name like '%${name}%'
    </if>
    </where>
</select>

    <!--模糊查询带分页的查询老师教授课程-->
    <select id="selectCourseByTidAndCname" resultMap="BaseResultMap">
        select  *
        from course
        <where>
            <if test="tid!=null and tid!=''">
                 tid = #{tid}
            </if>
            <if test="cname!=null and cname!=''">
                and cname like '%${cname}%'
            </if>
        </where>
    </select>
</mapper>