<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.system.model.Student">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="enrollment" jdbcType="DATE" property="enrollment" />
    <association property="college" javaType="com.system.model.College" autoMapping="true">

</association>
  </resultMap>


  <sql id="Base_Column_List">
    sid, name, sex, birthday, enrollment, collegeid
  </sql>



  <!--根据学生ID查询学生-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where sid = #{sid,jdbcType=INTEGER}
  </select>


<!--添加一条数据-->
<insert id="addStudent" parameterType="student" keyProperty="sid" useGeneratedKeys="true">
    insert into student(name,sex,birthday,enrollment,collegeid)
        values(#{name},#{sex},#{birthday},#{enrollment},#{college.collegeId})
</insert>

<!--修改一条数据-->
<update id="updateStudent" parameterType="student">
    update student set
    name = #{name},sex = #{sex},birthday = #{birthday},enrollment=#{enrollment},
    collegeid = #{college.collegeId} where sid = #{sid}
</update>

<!--删除一条数据-->
<delete id="deleteStudent">
delete from student where sid = #{sid}
</delete>

<!--动态分页查询数据-->
<select id="findAllByName" resultMap="BaseResultMap">
    select s.sid,s.name,s.sex,s.birthday,s.enrollment,c.collegeid,c.cname
    from student s left join college c on s.collegeid = c.collegeid
    <where>
        <if test="name != null and name != ''">
        s.name like '%${name}%'
        </if>
    </where>
</select>

<!--获得总条数-->
<select id="getTotalNum" resultType="int">
    select count(1) from student
</select>
</mapper>