<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.system.model.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <association property="role" javaType="com.system.model.Role"  autoMapping="true"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    uid, uname, pwd, rid
  </sql>


  <!--根据ID查找用户-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <!--根据账号密码查找学生-->
  <select id="selectBySelective" resultType="com.system.model.User">
    select
        <include refid="Base_Column_List" />
    from user
     where uname = #{uname,jdbcType=VARCHAR} and pwd=#{pwd,jdbcType=VARCHAR}
  </select>

<!--根据name查找用户-->
  <select id="selectByUname" resultType="com.system.model.User">
  select
        <include refid="Base_Column_List" />
    from user
     where uname = #{uname,jdbcType=VARCHAR}
  </select>

  <!--根据用户名查找用户权限-->
  <select id="getPermissions" resultType="java.lang.String">
select
	r.permissions
from
	user u
	left join role r on u.rid = r.rid
where
	u.uid = #{uid,jdbcType=VARCHAR}
</select>

<!--修改非管理员密码-->
<update id="updateByPrimaryKeySelective">
    update user set pwd=#{user.pwd} where uname=#{user.uname} and rid!=1
</update>

<!--修改密码，并校验就密码-->
<update id="updateUser">
    update user set pwd = #{user.pwd} where uname = #{user.uname} and pwd = #{user.pwd}
</update>

<!--添加一条数据-->
<insert id="addUser">
    insert into user(uid,uname,pwd,rid)
    values(#{uid},#{uname},#{pwd},#{role.rid})
</insert>

<!--删除一条数据-->
<delete id="deleteUser">
delete from user where uid = #{uid}
</delete>

<!--修改一条数据-->
<update id="updateUserByInfo">
    update user set uname = #{uname} where uid = #{uid}
</update>

</mapper>